body {

  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;

}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;

}
#puppiesEverywhere{
display: flex;
flex-wrap: wrap;
margin: 1rem;


}

#nameText {
  margin: .5rem;
}

#breedText {
  margin: .5rem;
}

#pupSubmit {
  margin: .5rem;
}
.puppy{
  display: flex;
  flex-direction: column;
  height: 310px;
  width: 150px;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  margin-left: 2rem;
  font-size: 15px;
  justify-content: space-between;
  border: 2px solid black;
  box-shadow: 0 2 5 2;


}
img{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: baseline;
  border: 1px solid black;
  border-radius: 5px;
}
#addDets{
  height: 1rem;
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
justify-content: center;
cursor: pointer;
}
